$hair: #502d07;
$skin: #8d570b;
$clothes: #5f541d;
$banda: #a07e0f;
$eyes: black;
$grid: 10;

$colors: (
  1: $hair,
  2: $skin,
  3: $clothes,
  4: $banda,
  5: $eyes
);

// Lemming Blocker -----------------------
$player-blocker: 0,0,0,0,1,1,1,0,0,0,
                  0,0,0,1,1,1,1,1,0,0,
                  0,0,0,1,5,2,5,1,0,0,
                  0,0,0,1,2,2,2,1,0,0,
                  0,0,3,4,3,3,3,3,3,0,
                  0,0,2,0,4,3,3,0,2,0,
                  0,0,2,0,3,4,3,0,2,0,
                  0,0,0,3,4,4,4,3,0,0,
                  0,0,0,3,0,0,0,3,0,0,
                  0,0,2,2,0,0,0,2,2,0;

$player-walker-1: 0,0,0,0,0,0,0,0,0,0, 
                  0,0,0,1,1,1,1,0,0,0, 
                  0,0,0,1,1,2,0,0,0,0, 
                  0,0,0,0,2,2,2,0,0,0, 
                  0,0,0,0,2,3,0,0,0,0, 
                  0,0,0,0,2,3,0,0,0,0, 
                  0,0,0,0,2,3,0,0,0,0, 
                  0,0,0,0,3,3,0,0,0,0, 
                  0,0,0,2,3,3,0,0,0,0, 
                  0,0,0,0,2,2,0,0,0,0; 

$player-walker-2: 0,0,0,0,1,0,1,0,0,0, 
                  0,0,0,1,1,1,0,0,0,0, 
                  0,0,0,1,1,2,0,0,0,0, 
                  0,0,0,0,2,2,2,0,0,0, 
                  0,0,0,0,2,3,0,0,0,0, 
                  0,0,0,2,3,3,0,0,0,0, 
                  0,0,0,2,3,3,0,2,0,0, 
                  0,0,0,0,3,3,0,2,0,0, 
                  0,0,0,3,3,0,2,0,0,0, 
                  0,0,0,2,2,0,0,0,0,0; 
                
$player-walker-3: 0,0,0,0,0,0,0,0,0,0, 
                  0,0,0,1,0,1,0,0,0,0, 
                  0,0,0,1,1,1,0,0,0,0, 
                  0,0,0,0,1,2,0,0,0,0, 
                  0,0,0,0,2,2,2,0,0,0, 
                  0,0,0,2,2,3,0,0,0,0, 
                  0,0,0,2,3,3,0,0,0,0, 
                  0,0,2,2,3,3,3,0,0,0, 
                  0,0,0,3,3,3,3,0,0,0, 
                  0,0,2,2,0,0,2,2,0,0; 

$player-walker-4: 0,0,0,0,0,0,0,0,0,0, 
                  0,0,0,0,1,1,0,0,0,0, 
                  0,0,0,1,1,2,1,0,0,0, 
                  0,0,0,1,2,2,2,0,0,0, 
                  0,0,0,0,2,3,0,0,0,0, 
                  0,0,0,0,2,3,0,0,0,0, 
                  0,0,0,2,3,3,0,0,0,0, 
                  0,0,0,0,3,3,0,0,0,0, 
                  0,0,2,3,3,3,3,0,0,0, 
                  0,0,2,0,0,2,2,0,0,0; 
                 
$player-walker-5: 0,0,0,0,0,0,0,0,0,0, 
                  0,0,0,1,1,1,1,0,0,0, 
                  0,0,0,1,1,2,0,0,0,0, 
                  0,0,0,0,2,2,2,0,0,0, 
                  0,0,0,0,2,3,0,0,0,0, 
                  0,0,0,0,3,2,0,0,0,0, 
                  0,0,0,0,2,3,0,0,0,0, 
                  0,0,0,0,3,3,0,0,0,0, 
                  0,0,0,2,3,3,0,0,0,0, 
                  0,0,0,0,2,2,0,0,0,0; 
               
$player-walker-6: 0,0,0,0,1,0,1,0,0,0, 
                  0,0,0,1,1,1,0,0,0,0, 
                  0,0,0,1,1,2,0,0,0,0, 
                  0,0,0,0,2,2,2,0,0,0, 
                  0,0,0,0,2,3,0,0,0,0, 
                  0,0,0,0,3,2,0,0,0,0, 
                  0,0,0,0,3,2,0,2,0,0, 
                  0,0,0,0,3,3,0,2,0,0, 
                  0,0,0,3,3,0,2,0,0,0, 
                  0,0,0,2,2,0,0,0,0,0; 

$player-walker-7: 0,0,0,0,0,0,0,0,0,0, 
                  0,0,0,1,0,1,0,0,0,0, 
                  0,0,0,1,1,1,0,0,0,0, 
                  0,0,0,0,1,2,0,0,0,0, 
                  0,0,0,0,2,2,2,0,0,0, 
                  0,0,0,0,3,2,0,0,0,0, 
                  0,0,0,0,3,2,0,0,0,0, 
                  0,0,0,0,3,3,2,0,0,0, 
                  0,0,0,3,3,3,3,0,0,0, 
                  0,0,2,2,0,0,2,2,0,0; 

$player-walker-8: 0,0,0,0,0,0,0,0,0,0, 
                  0,0,0,0,1,1,0,0,0,0, 
                  0,0,0,1,1,2,1,0,0,0, 
                  0,0,0,1,2,2,2,0,0,0, 
                  0,0,0,0,2,3,0,0,0,0, 
                  0,0,0,0,2,3,0,0,0,0, 
                  0,0,0,0,3,2,0,0,0,0, 
                  0,0,0,0,3,3,0,0,0,0, 
                  0,0,2,3,3,3,3,0,0,0, 
                  0,0,2,0,0,2,2,0,0,0;

$player-walker-left-1: 0,0,0,0,0,0,0,0,0,0,
                      0,0,0,0,0,0,0,0,0,0,
                      0,0,0,0,0,0,0,0,0,0,
                      0,2,0,0,0,0,0,1,1,0,
                      2,3,3,2,2,2,2,1,1,0,
                      2,3,3,3,3,3,2,2,1,0,
                      0,0,0,0,0,0,2,0,1,0,
                      0,0,0,0,0,0,0,0,0,0,
                      0,0,0,0,0,0,0,0,0,0,
                      0,0,0,0,0,0,0,0,0,0;

@function pixelart($player-list, $shadow-count: $grid) {
  $shadows: ();
  $row: 0;
  $col: 1;
  
  @for $i from 1 through length($player-list) {
    @if( nth($player-list,$i) > 0 ) {
      $shadows: append($shadows, ($col * 1px) ($row * 1px) 0 map-get($colors,nth($player-list,$i)), 'comma');
    }
    
    @if($i % $grid == 0) {
      $row: $row+1;
      $col: 0;
    }
    
    $col: $col + 1;
  }
  
  @return $shadows;
}

body {
    background-color: #009dff;
    overflow: hidden;
}

.player--blocker {
    width: 1px;
    height: 1px;
    margin: 100px;
    transform: scale(10);

    box-shadow: pixelart($player-blocker);
}

.player--walker-1 {
    width: 1px;
    height: 1px;
    margin: 100px;
    
    transform: scale(10);
    
    animation: walker .65s step-start infinite;
    box-shadow: pixelart($player-walker-1);
}

.player--walker-2 {
    width: 1px;
    height: 1px;
    margin: 100px;
    
    transform: scale(10);
    
    animation: walker .65s step-start infinite;
    box-shadow: pixelart($player-walker-1);
}

  @keyframes walker {
    12% { box-shadow: pixelart($player-walker-2); }
    25% { box-shadow: pixelart($player-walker-3); }
    37% { box-shadow: pixelart($player-walker-4); }
    50% { box-shadow: pixelart($player-walker-5); }
    62% { box-shadow: pixelart($player-walker-6); }
    75% { box-shadow: pixelart($player-walker-7); }
    87% { box-shadow: pixelart($player-walker-8); }
  }